{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "compact": false
    }
  }
}
