---
to: packages/<%= h.changeCase.paramCase(name) %>/package.json
---
version-tag-prefix "@ableneo/<%= h.changeCase.paramCase(name) %>"
version-git-message "chore(release): @ableneo/<%= h.changeCase.paramCase(name) %>-v%s"
